::-webkit-scrollbar { 
    display: none; 
}
.head, .content, .footer{
    width: 100%;
}
.destaques-response{display: none;}
#hamb{
    width: 10%;
    position: absolute;
}
.head{
    width: 100%;
    height: 15vh;
    float: left;
    background-color: blue;
    overflow: hidden;
}
.head img{
    width: 100%;
}
#titulo{
    width: 17%;
    position: absolute;
    top: -6%;
    left: 40%;
    top: 0.5%;
}
.destaques{
    width: 100%;
    height: auto;
    background-color: rgb(200, 211, 149);
    background-image: url("./assets/fundo.png");
    background-repeat: repeat;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: all;
    transition-duration: 2s;
    overflow: scroll;
}

.destaque{
    width: 59%;
    height: 70vh;
    background-color: khaki;
    display: block;
    float: left;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-image: url("./assets/promo.gif");
    background-repeat: round;
    border-style: double;
}
.destaque1{
    display: block;
    width: 40%;
    height: 69vh;
    float: left;
}
.destaque img{
    width: 100%;
}
.whats{
    width: 10%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    transition: all;
    transition-duration: 1s;
}
.whats img{
    width: 100%;
}
.content{
    display: block;
    height: 70vh;
    background-color: rgb(200, 211, 149);
    float: left;
    background-image: url("./assets/fundo.png");
    background-repeat: round;
    text-align: center;
    display: none;
}
.destaque1 h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 44pt;
    text-align: center;
    margin-top: 30%;
}
.content img{
    width: 100%;
}
.destaque2{
    width: 100%;
}
.destaque2 img{
    width: 100%;
}
.link-cardapio{
    display: block;
    width: 100%;
    height: auto;
    float: left;
}
.link-cardapio a{
    font-size: 30pt;
    float: left;
}
.link img{
    width: 100%;
    border-radius: 25px;
    transition: all;
    transition-duration: 1s;
}
.link{
    overflow: hidden;
    width: 10%; 
    height: 40vh;
    text-align: center;
    margin-left: 45%;
    margin-top: 5%;
    transition: all;
    transition-duration: 2s;
}
.link:hover{cursor: pointer;}
.link:hover img{
    border-style: double;
    border-color: green;
    transition: all;
    transition-duration: 1s;
}
.link p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 22pt;
    font-weight: bold;
}
.link:hover p{
    color: green;
}
.whats:hover{
    cursor: pointer;
    width: 20%;
}
.cardapio{
    width: 50%;
    border-style: double;
    height: 0vh;
    overflow: scroll;
    margin-left: 25%;
    transition: all;
    transition-duration: 2s;
}
.cardapio2{
    margin-left: 0;
}
.cardapio img, .cardapio2 img{
    width: 100%;
}
@media (max-width: 1000px){
    #titulo{
        width: 25%;
    }
    #hamb{
        width: 15%;
    }
    .destaque{
        width: 70%;
    }
    .destaque1{
        width: 30%;
    }
    .whats{
        width: 15%;
    }
    
}
@media (max-width: 790px){
    #titulo{
        width: 30%;
    }
    #hamb{
        width: 20%;
    }
    .destaque{
        width: 100%;
    }
    .destaques{
        height: auto;
    }
    .destaque1{
        width: 100%;
    }
    .whats{
        width: 20%;
    }
    .link-cardapio{
        display: none;
    }
    .content{
        display: block;
    }
}

@media (max-width: 823px) and (orientation: landscape){
    #titulo{
        width: 20%;
    }
    #hamb{
        width: 10%;
    }
    .destaque{
        width: 100%;
        height: 70vh;
        border-radius: 0;
    }
    .destaques{
        height: auto;
    }
    .destaque1{
        width: 100%;
        height: auto;
    }
    
}

@media (max-width: 590px){
    #titulo{
        width: 40%;
        left: 33%;
    }
    .head{
        height: auto;
    }
    #hamb{
        width: 20%;
    }
    .destaque{
        width: 100%;
    }
    .destaques{
        height: auto;
    }
    .destaque1{
        width: 100%;
    }
    
}

@media (max-width: 500px){
    #titulo{
        width: 40%;
        left: 33%;
    }
    .head{
        height: auto;
    }
    #hamb{
        width: 20%;
    }
    .destaque{
        height: 40vh;
        border-radius: 0;
    }
    .destaques{
        height: auto;
    }
    .destaque1{
        width: 100%;
        margin-top: 0;
        height: auto;
    }
    .whats{
        width: 30%;
    }
    .content{
        display: block;
    }
    .content img{
        margin-top: 2%;
    }
    .link-cardapio{
        display: none;
    }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
    #titulo{
        width: 40%;
        left: 33%;
    }
    .head{
        height: auto;
    }
    #hamb{
        width: 20%;
    }
    .destaque{
        height: 40vh;
        border-radius: 0;
    }
    .destaques{
        height: auto;
    }
    .destaque1{
        width: 100%;
        margin-top: 0;
        height: auto;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
    #titulo{
        width: 40%;
        left: 33%;
    }
    .head{
        height: auto;
    }
    #hamb{
        width: 20%;
    }
    .destaque{
        width: 80%;
        height: 35vh;
        margin-left: 10%;
        border-radius: 50px;
        background-repeat: round;
    }
    .destaques{
        height: auto;
    }
    .destaque1{
        width: 100%;
        margin-top: 0;
        height: auto;
    }
}