.head, .content, .footer{
    width: 100%;
}
.head{
    height: 70vh;
    background-color: rgb(187, 151, 73);
}
.head img{
    width: 30%;
}
.master-head{
    height: 6vh;
    background-color: rgb(199, 202, 202);
}
.master-head ul{
    margin-left: 12%;
}
.master-head li{
    display: inline-block;
    border-style: groove;
    font-size: 18pt;
    width: 15%;
    padding-left: 1%;
}
.footer{
    height: 20vh;
    background-color: lightslategray;
}