#_1{
    display: none;
}
.propaganda{
    width: 100%;
    height: 20vh;
    float: left;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.propaganda img:hover{cursor: pointer;}
.propaganda img{
    width: 35%;
    margin-left: 32.5%;
}
.slide{
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
}
.slide img{
    width: 100%;
}
#fb-root{
    width: 50%;
}
::-webkit-scrollbar { 
    display: none; 
}
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: scroll;
}
.publicidade{
    width: 100%;
    height: 40vh;
    background-color: rgb(0, 23, 128);
    overflow: hidden;
    float: left;
}
.publicidade p{
    color:white;
    text-align: center;
    float: left;
}
.publicidade img{
    width: 5%;
}
.destaques{
    width: 100%;
    height: 74vh;
    background-color: rgb(64, 102, 71);
    border-left-style:ridge ;
    background-repeat: round;
}
#titulo{
    margin-left: 30%;
}
#titulo{
    top: 5%;
    width: 40%;

}
.skew {
    -webkit-transform: skew(0deg); /* Chrome, Opera */
    -ms-transform: skew(0deg); /* IE */
    transform: skew(0deg); /* Padrão */
}
.negative {
    -webkit-transform: skew(-40deg); /* Chrome, Opera */
    -ms-transform: skew(-40deg); /* IE */
    transform: skew(-40deg); /* Padrão */
}
.destaque{
    width: 20%;
    height: 74vh;
    -webkit-transform: skew(40deg); /* Chrome, Opera */
    -ms-transform: skew(40deg); /* IE */
    transform: skew(40deg); /* Padrão */
    overflow: hidden;
    display: inline-block;
    margin-left: 10%;
    border-radius: 15px;
}
.destaque img{
    width: 100%;
}
.footer{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    border-style: double;
    border-color:green
}
.footer a{
    text-decoration: none;
    text-align: center;
}
.whatsapp{
    width: 10%;
    position: fixed;
    bottom:0;
    left: 0;
    align-items: center;
    float: left;
    border-style: double;
    border-color:green;
    transition: all;
    transition-duration: 1s;
}
.whatsapp:hover{
    /*background-image: url("./assets/botom.gif");*/
    /*background-repeat: round;*/
    border-radius: 120px;
}
.whatsapp h5{
    color:white;
}
.whatsapp img{
    width: 100%;
}
.cardapio{
    width: 80%;
    height: 10vh;
    margin-top: 2%;
    margin-left: 10%;
    align-items: center;
    transition: all;
    transition-duration: 1s;
}
.cardapio img{
    width: 100%;
    border-radius: 15px;
    float: left;
}
.cardapio:hover h5{
    color:white;
}
@media (max-width: 1276px){
    
    .publicidade{
        height: 30vh;
    }
}
@media (max-width: 1231px){
    
    .destaque{
        width: 25%;
        margin-left: 6%;
        overflow: visible;
        float: left;
    }
   
} 

@media (max-width: 1045px){
    
    .destaque{
        width: 20%;
        margin-left: 10%;
    }
    
    .whatsapp h5{
        font-size: 12pt;
    }
    #titulo{
        width: 40%;
        margin-left: 30%;
    }

}
@media (max-width: 1011px){
    .destaque{
        width: 22%;
        margin-left: 8%;
    }
    
}

@media (max-width: 981px){
   .destaques{
       height: 60vh;
   }
   .destaques{
       padding-left: 5%;
   }
   
}
@media (max-width: 906px){
    
    .propaganda img{
        width: 45%;
    }
}

@media (max-width: 860px){
    
    .destaque{
        width: 25%;
        margin-left: 7%;
    }
    .destaques{
        height: 60vh;
    }
    .destaques{
        padding-left: 5%;
    }
    
 }

 @media (max-width: 780px){
    .propaganda img{
        width: 60%;
        margin-left: 20%;
    }
    .destaque{
        width: 30%;
        margin-left: 3%;
    }
    .destaques{
        height: 60vh;
    }
    .destaques{
        padding-left: 5%;
    }
   
    .whatsapp{
        width: 15%;
    }
    .whatsapp h5{
        font-size: 16pt;
    }
    #titulo{
        width: 80%;
        margin-left: 13%;
    }
 }
 @media (max-width: 740px){
    
    .whatsapp h5{
        font-size: 14pt;
    }
 }
@media (max-width: 670px){
    .destaques{
        height: 50vh;
    }
    
    .destaques{
        padding-left: 15%;
    }
 }

 @media (max-width: 700px){
    
 }

 @media (max-width: 610px){
    .destaques{
        height: 50vh;
        padding-left: 15%;
        -webkit-transform: skew(0deg); /* Chrome, Opera */
        -ms-transform: skew(0deg); /* IE */
        transform: skew(0deg); /* Padrão */
        padding-left: 0;
    }
    
    .destaque{
        width: 30%;
        margin-left: 3%;
        -webkit-transform: skew(0deg); /* Chrome, Opera */
        -ms-transform: skew(0deg); /* IE */
        transform: skew(0deg); /* Padrão */
    }
    .whatsapp{
        width: 20%;
    }
    .whatsapp h5{
        font-size: 12pt;
    }
    
 }
 @media (max-width: 550px){
    .propaganda img{
        width: 80%;
        margin-left: 10%;
    } 
 }
 @media (max-width: 541px){
    .destaques{
        height: 40vh;
    }
    
 }
 @media (max-width: 507px){
    .destaques{
        height: 40vh;
    }
    
 }
 @media (max-width: 457px){
    .destaques{
        height: 30vh;
    }
    
    .whatsapp{
        width: 25%;
    }
    #titulo{
        width: 100%;
        margin-left: 0;
    }
 }

 @media (max-width: 414px){
     
    .destaques{
        height: 30vh;
    }
    
 }
 @media (max-width: 400px){
     
 }

 @media (max-width: 375px){
    
    .destaques{
        height: 30vh;
    }
    
    .whatsapp h5{
        font-size: 10pt ;
    }
    #titulo{
        width: 100%;
        margin-left: 0;
    }
 }
 @media (max-width: 360px){
    .propaganda img{
        width: 100%;
        margin-left: 0%;
    }
 }
 @media (max-width: 320px){
    
    .destaques{
        height: 30vh;
    }
   
 }
 @media (max-width: 640px) and (orientation:landscape){
     
     .destaques{
         padding-left: 10%;
     }
     .destaque{
         margin-left: 3%;
     }
     .publicidade{
         height: 50vh;
     }
 }

 @media (max-width: 731px) and (orientation:landscape){
    
    .destaques{
        padding-left: 10%;
    }
    .destaque{
        margin-left: 3%;
    }
}
@media (max-width: 823px) and (orientation:landscape){
    
    .destaques{
        padding-left: 18%;
    }
    .destaque{
        margin-left: 3%;
    }
    .publicidade{
        height: 50vh;
    }
}
@media (max-width: 568px) and (orientation:landscape){
   
    .destaques{
        padding-left: 0;
    }
    .destaque{
        margin-left: 3%;
    }
    .publicidade{
        height: 60vh;
    }
}
@media (max-width: 667px) and (orientation:landscape){
   
    .destaques{
        padding-left: 10%;
    }
    .destaque{
        margin-left: 3%;
    }
}
@media (max-width: 736px) and (orientation:landscape){
    
    .destaques{
        padding-left: 8%;
    }
    .destaque{
        margin-left: 3%;
    }
}